@import url('https://fonts.cdnfonts.com/css/mont');

* {
    box-sizing: border-box;
}

#h3 {
    text-align: center;
    font-family: 'Mont', sans-serif;
    font-size: 0.85rem;
    color: beige;
    margin: 0px 0px 0px 0px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #212529;
}

#line {
    background-color: white;
    color: white;
    size: 5;
}

@media only screen and (min-width: 648px) {
    .navbar {
        display: block;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #20282d;
    align-items: center;
    margin: 0px 15px 1px 15px;
    border-bottom: 1.8px solid #393f47;
}

.nav-currency {
    font-family: 'Mont', sans-serif;
    font-size: 1rem;
    color: beige;
    border-right: 1px solid #393f47;
}

.nav-lang {
    font-family: 'Mont', sans-serif;
    font-size: 1rem;
    color: beige;
    border-right: 1px solid #393f47;
}

.nav-game {
    font-family: 'Mont', sans-serif;
    font-size: 1rem;
    color: beige;
}

.nav-name {
    font-family: 'Mont', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 4px;
    margin-right: 4px;
    color: beige;
}

/* Navbar Right Section*/
.nav-right {
    padding: 0px, 0px, 5px, 5px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #393f47;
    border-radius: 5px;
}

.cart-div {
    font-family: 'Mont', sans-serif;
    display: inline-flex;
    justify-content: space-between;
    background-color: #282f36;
    width: 40px;
    border-radius: 2px;
    border-width: 1px;
    margin-right: 10px;
    margin-left: 3px;
    border-left: 1px solid #393f47;
}

.balance-div {
    font-family: 'Mont', sans-serif;
    display: inline-flex;
    justify-content: space-between;
    width: 40px;
    border-radius: 2px;
    margin-right: 25px;
}

.balance-div .cart-icon {
    margin-top: 3px;
    margin-right: 3px;
}

.cart-icon {
    margin-top: 7px;
    padding-left: 4px;
    width: 20px;
    height: 20px;
}

#cart-size {
    font-family: 'Mont', sans-serif;
    font-size: 1rem;
    color: beige;
    padding-top: 8px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #282f36;
    border-right: 1px solid #393f47;
}

#balance-cart {
    font-family: 'Mont', sans-serif;
    font-size: 0.85rem;
    color: beige;
    padding-top: 9px;
}

/* Profile icon*/
.nav-icon {
    border-radius: 20px;
    width: 28px;
    height: 28px;
}

.top-icon {
    border-radius: 20px;
    width: 28px;
    height: 28px;
    margin-left: 2px;
}

#dropdown-icon {
    margin-top: 10px;
    width: 20px;
    height: 20px;
    padding-right: 8px;
}

.drop-button {
    font-family: 'Mont', sans-serif;
    font-size: 0.77rem;
    color: beige;
    background-color: #20282d;
    border: none;
}

.drop-span {
    padding-bottom: 5px;
    vertical-align: 4pt;
}

.dropdown {
    padding-top: 3px;
    padding-left: 6px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    top: 0;
}

.dropdown-content {
    right: 0px;
    top: 36px;
    border-radius: 5px;
    display: none;
    position: absolute;
    background-color: #30363b;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    float: none;
    font-family: 'Mont', sans-serif;
    font-size: 0.85rem;
    color: beige;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #737983;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Navbar left */
.nav-left {
    margin: 4px 0px 4px 0px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #393f47;
    border-radius: 5px;
}


/* Plus Button */
#plus-button {
    width: 22px;
    height: 22px;
    background-color: #4ddf9a;
    color: white;
    border-radius: 10%;
    font-size: 1.5rem;
    border-width: 0px;
    margin: 5px;
    margin-right: 10px;
    justify-content: left;
    align-items: left;
    position: relative;
    vertical-align: top;
}

#plus-button span {
    position: relative;
    top: -4px;
    left: -2px;
}

.drop-button #drop-left-icon {
    width: 22px;
    height: 22px;
    border-radius: 70%;
}

.nav-currency .dropdown-content {
    left: 15px;
    top: 35px;
    width: 40px;
    min-width: 70px;
}

.nav-cur-name {
    padding-bottom: 5px;
    vertical-align: 4pt;
}

.nav-game #drop-left-icon {
    width: 24px;
    height: 22px;
}

.nav-game-name {
    padding-bottom: 5px;
    vertical-align: 4pt;
}

.nav-lang .dropdown-content {
    left: 85px;
    top: 35px;
    min-width: 10px;
    max-width: 62px;
}

.nav-lang-name {
    padding-bottom: 5px;
    vertical-align: 4pt;
}

.nav-game .dropdown-content {
    left: 150px;
    top: 35px;
    width: 40px;
    min-width: 87px;
}

.nav-left .dropdown-content #drop-left-icon {
    padding-top: 6px;
    width: 22px;
    height: 22px;
    padding-right: 8px;
}

.nav-left .dropdown-content a {
    font-family: 'Mont', sans-serif;
    font-size: 0.62rem;
}

/*select game section*/
.selection-wrapper {
    justify-content: center;
    display: flex;
    height: 60px;
}

.game-selection {
    box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
    margin: 1px 15px 0px 20px;
    display: flex;
    justify-content: space-between;
    border: 1.8px solid #393f47;
    border-radius: 5px;
    height: 60px;
    width: 55%;
}

.game-wrapper .button-text {
    color: beige;
    text-align: center;
    font-family: 'Mont', sans-serif;
    font-size: 0.75rem;
    padding-left: 4px;
}

.select-button {
    background-color: transparent;
    border: none;
    display: block;
    align-items: center;
    margin: 0px 1px;
    border-radius: 2px;
}

.select-button #icon {
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

.game-wrapper:active {
    transform: scale(0.95);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.game-wrapper:hover {
    background-color: #4ddf9a;
    color: white;
    border-radius: 2px;
}

/*main layout*/

.main-columns {
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
}


@media screen and (min-width: 639px) {
    .filter-bar {
        margin-top: 16px;
        background-color: #20282d;
        border: 1px solid #393f47;
        border-radius: 4px;
        flex-grow: 1;
        color: #fff;
        width: 20%;
    }

    .filter-text {
        justify-content: space-between;
        display: flex;
        padding-left: 10px;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 8px;
        font-weight: 600;
        text-align: center;
        font-family: 'Mont', sans-serif;
        font-size: 0.7rem;
        border-bottom: 1.8px solid #393f47
    }

    .filter-icon {
        height: 10px;
        width: 12px;
    }

    .filter-alt-text {
        padding-top: 12px;
        padding-left: 10px;
        font-weight: 600;
        font-family: 'Mont', sans-serif;
        font-size: 0.6rem;
    }

}


/*Range Slider*/

.slidecontainer {
    width: 100%;
    padding-left: 7px;
    padding-right: 10px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background: rgba(112, 128, 141, .71);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 4px;
    width: 8px;
    height: 8px;
    background: #4ddf9a;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

.custom-textfield {
    background-color: #5e656f;
    color: #eef0f2;
    font-family: 'Mont', sans-serif;
    font-size: 0.8rem;
    border: none;
    border-radius: 1px;
    width: 30%;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/*item layout ust*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-main-layout {
    overflow: hidden;
    border: 1px solid #393f47;
    border-radius: 4px;
    padding: 0.9rem;
    margin-left: 16px;
    margin-top: 16px;
    color: #fff;
    width: 100%;
}

.header-left {
    justify-content: space-between;
    display: flex;
}

.search {
    font-family: 'Mont', sans-serif;
    font-size: 0.7rem;
    margin-left: 5px;
    border-width: 0px 0px 1px;
    background-color: #212529;
    border-color: #5e656f;
    text-align: left;
    letter-spacing: 0.5px;
    color: beige;
}

.header-right {
    justify-content: space-between;
    display: flex;
}

.icon-button {
    display: flex;
    height: 20px;
    padding: 0;
    background: #212529;
    border: none;
    outline: none;
    border-radius: 2px;
    overflow: hidden;
    font-weight: 500;
}

.button_text {
    font-family: 'Mont', sans-serif;
    color: #fff;
    font-family: 'Mont', sans-serif;
    font-size: 0.7rem;
    font-weight: 600;
    padding-top: 3px;
    margin-right: 3px;
}

.button_icon {
    color: #fff;
    padding-right: 4px;
    font-size: 0.7rem;
    font-weight: 600;
    height: 14px;
}

.icon-button:active {
    transform: scale(0.95);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.icon-button:hover {
    background-color: #4ddf9a;
    color: white;
    border-radius: 2px;
}

/*clickable dropdown*/
/* button */
.dropbtn {
    display: flex;
    height: 20px;
    padding: 0;
    background: #212529;
    border-radius: 2px;
    font-family: 'Mont', sans-serif;
    font-size: 0.75rem;
    font-weight: 500;
}

.click-dropdown {
    border-left: 2px solid #393f47;
    margin-left: 5px;
}

/* dd content */
.click-dropdown .click-drop-content {
    right: 15px;
    position: absolute;
    top: 155px;
    background-color: #30363b;
    min-width: 15px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 100000;
    visibility: hidden;
    opacity: 0;
    transition: 0.35s ease-out;
}

.click-drop-content a {
    color: beige;
    padding: 12px 16px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    display: block;
    text-decoration: none;
    transition: 0.35s ease-out;
    font-family: 'Mont', sans-serif;
    font-size: 0.7rem;
}

.click-drop-content a:hover {
    background-color: #737983;
}

/* show dd content */
.click-dropdown:focus .click-drop-content {
    outline: none;
    transform: translateY(20px);
    visibility: visible;
    opacity: 1;
}

.dropbtn:hover,
.click-dropown:focus .dropbtn {
    background-color: #691692;
}

/* mask to close menu by clicking on the button */
.click-dropdown .db2 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 10;
    display: none;
}

.click-dropdown:focus .db2 {
    display: inline-block;
}

.click-dropdown .db2:focus .click-drop-content {
    outline: none;
    visibility: hidden;
    opacity: 0;
}

.dropbtn .button_icon {
    width: 18px;
    height: 18px;
    margin-left: 5px;
}

.icon-button .button_icon {
    width: 18px;
    height: 18px;

}

/*clickable dropdown*/

/*card layout*/
.card-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 10px;
    gap: 10px;
    padding-top: 20px;
}

.item-card {
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 310px;
    border-radius: 4px;
    background: #20282d;
    overflow: hidden;
    padding: 5px 8px;
    transition: .3s
}

.item-container {
    height: 100%;
    display: grid;
}

.item-top {
    height: 20px;
    font-family: 'Mont', sans-serif;
    font-size: 12px;
}

.image-wrapper {
    width: 100%;
    height: 115px;
    display: flex;
    grid-gap: 8px;
    gap: 8px;
}

.item-img {
    width: 100%;
    max-width: 145px;
}

.image {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.item-info-wrapper {
    position: relative;
    display: grid;
    grid-gap: 4px;
    gap: 4px;
    align-content: start;
}

.item-name-wrapper {
    justify-content: flex-start;
    min-width: 0;
}

.item-name {
    color: #737983;
    font-family: 'Mont', sans-serif;
    font-size: 14px;
}

.item-rarity {
    padding-top: 2px;
    color: #eb4b4b;
    font-family: 'Mont', sans-serif;
    font-size: 12px;
}

.item-second-name {
    padding-top: 2px;
    color: beige;
    font-family: 'Mont', sans-serif;
    font-size: 14px;
}

.button-wrapper {}

.market-buttons {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 8px;
    gap: 8px;
}

.buy-now-button {
    font-weight: 600;
    letter-spacing: .01em;
    font-size: 10px;
    color: beige;
    font-family: 'Mont', sans-serif;
    height: 20px;
    border: none;
    border-radius: 2px;
    white-space: nowrap;
    padding: 0px;
    transition: background-color .3s;
    background-color: #0ad68b;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}

.buy-now-button:hover {
    background-color: #04AA6D;
}

.add-cart-button {
    height: 20px;
    border: none;
    border-radius: 2px;
    white-space: nowrap;
    padding: 0px;
    background-color: #393f47;
    transition: background-color .3s;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.add-cart-button:hover {
    background-color: #858d97;
}

.add-cart-button #button_ic {
    height: 14px;
    width: 14px;
    padding-top: 2px;
}


/*If device isn't mobile*/
@media all and (min-width: 640px) {

    #open-mobile-filter {
        visibility: hidden;
        display: none;
    }
    .mobile-navbar {
        display: none;
    }

    .filter-bar {
        visibility: block;
        display: block;
    }
}


::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #323940;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4ddf9a;
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4ddf9a;
}


/*If device is mobile*/
@media all and (max-width: 639px) {

    .filter-bar {
        visibility: hidden;
        display: none;
    }

    #mobile-filter {
        display: block;
    }

    #open-mobile-filter {
        color: #0ad68b;
        font-family: 'Mont', sans-serif;
        font-size: 13px;
        font-weight: 600;
        padding-right: 5px;
    }

    .filter-bar {
        visibility: hidden;
        display: none;
    }

    .main-columns {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }

    .item-main-layout {
        overflow: hidden;
        border: 1px solid #393f47;
        border-radius: 4px;
        padding: 0.9rem;
        margin-left: 10px;
        margin-right: 10px;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 16px;
        color: #fff;
        width: 100%;
    }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}



@media screen and (max-height: 450px) {

    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/*Mobile navbar*/
a {
    text-decoration: none;
    color: #1E1E23;
    opacity: 1;
    font-family: 'work sans', sans serif;
    font-size: 1.5em;
    font-weight: 800;
    transition: 200ms;
}

a:hover {
    opacity: 0.5;
}

ul {
    padding: 0;
    list-style-type: none;
}

.mobile-navbar {
    background-color: #1E1E23;
    height: 65px;
}

#menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 25px;
    left: 25px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

#menuToggle span {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #36383F;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    width: 66%;
    height: 550px;
    box-shadow: 0 0 10px #85888c;
    margin: -46px 0px 0px -25px;
    padding: 40px;
    padding-top: 65px;
    background-color: #F5F6FA;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    transition-delay: 2s;
}

#menuToggle input:checked~ul {
    transform: none;
}


@media only screen and (max-width: 648px) {
    .mobile-navbar {
        display: block;
    }

    .navbar {
        display: none;
    }
}